.client.header {
	font-size: 16px;
}

.labelholder {
	width: 40%;
	float: left;
	line-height: 32px;
}

.labelholder1 {
	width: 18%;
	float: left;
	line-height: 32px;
}

.clholder {
	width: 100%;
	margin-bottom: 8px;
	height: 30px;
}

.llholder {
	width: 20% !important;
	float: left;
}

.tlholder {
	width: 10.8% !important;
	float: left;
	margin-right: 1.3%;
}

.lholder {
	width: 10.8% !important;
	float: left;
}

.textholder1 {
	width: 80% !important;
	float: left;
}

.textholder {
	width: 50% !important;
	float: left;
}

.clientholder1 {
	width: 100%;
	height: 40px;
}

.cname, .phone, .email {
	width: 31.7%;
	float: left;
}

.removeDiv .fas {
	color: red;
	font-size: 17px;
	margin-top: 5px;
	margin-left: 3px;
	cursor: pointer;
}


.othercontactadd {
	color: #ff6600;
	text-decoration: underline;
	cursor: pointer;
}

.contactadd {
	float: right;
	background: #000080;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
	width: 7%;
	text-align: center;
	cursor: pointer;
	margin-right: 54px;
}

.contactadd:hover {
	background: #ff6600;
}

.clientholder {
	width: 100%;
	margin-bottom: 10px;
}

button {
	background-image: linear-gradient(to right, #ff6600, #000080);
	width: 10% !important;
	margin-bottom: 20px !important;
	margin-top: 0px !important;
}

.form-group {
	margin-bottom: 0px !important;
	width: 50%;
	float: left;
}
}