.listholder{
	width:33%;
	float:left;
	height:30.5px;
}
.listlabel{
	width:33%;
	float:left;
	margin-right:3px;
	font-size: 12px !important;
    font-family: sans-serif;
	line-height:30px;
}
.select2-container--default{
	 width: 62% !important;
}
.listtext{
	width:62% !important;
	float:left;
	margin-right:3px;
	font-size: 12px !important;
    font-family: sans-serif;
}
.savebtn {
	width: 30%;
	background-image: linear-gradient(to right, #ff6600, #000080);
	color: white;
	padding: 5px;
	text-align: center;
	border-radius: 5px;
	float: left;
	cursor:pointer;
}