.imgPart {
	width: 16%;
	float: left;
}

.imgpart img {
	width: 76%;
}

.addWidth {
	width: 9% !important;
}

#btnContainer {
	display: inline-block;
	margin-bottom: 20px;
}

.contentPart {
	width: 70%;
	float: left;
}

.contentPart .name {
	margin-bottom: 6px;
	text-transform: uppercase;
}

.contentPart .email, .contentPart .phone, .contentPart .position {
	margin-bottom: 3px;
}

.column:hover {
	background: rgba(163, 163, 163, 0.2);
}

.column {
	float: left;
	width: 18%;
	padding: 5px;
	margin: 5px;
	height: fit-content;
	font-size: 11px;
	font-family: sans-serif;
	cursor: pointer;
	background: #fff;
	border-radius: 7px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}
/* Style the buttons */
.btnhold {
	border: none;
	outline: none;
	background: #000080 !important;
	cursor: pointer;
	background: tan;
	padding-left: 10px;
	width: 3%;
}

.name {
	margin-top: 9px !important;
}

.btnhold:hover {
	background-color: #ddd;
}

.btnhold.active {
	background-color: #666;
	color: white;
}