.theme-white .bootstrap-tagsinput .tag{
	background-color: forestgreen !important;
}
.bootstrap-tagsinput .tag{
	padding: 0px 2px !important;
}
.bootstrap-tagsinput{
	height:30px !important;
	width:60% !important;
	font-size: 11px;
}
.valbtn {
	    width: 11%;
    float: left;
    padding: 4px;
    margin-top: 0px;
    margin-right: 15px;
    background: #000080;
    cursor: pointer;
}

.vrholder {
	width: 50%;
	float: left;
	height: 34px;
}

#valinstrdate, #insdate, #valdate {
	cursor: pointer !important;
}

.fa-calendar:before {
	color: #000080;
}

.fa-clock:before {
	color: #000080;
}

.fa-fire:before {
	color: #000080;
}

.form-control {
	background: #fff !important;
}

.rholder {
	width: 35%;
	float: left;
	line-height: 32px;
	font-size: 12px !important;
	font-family: sans-serif
}

.viholder {
	width: 33%;
	float: left;
	height: 34px;
}

.ilholder {
	width: 15%;
	float: left;
	line-height: 32px;
	font-size: 12px !important;
	font-family: sans-serif
}

.itholder {
	width: 33% !important;
	float: left;
	font-size: 12px !important;
	font-family: sans-serif
}

.labelholder {
	width: 20%;
	float: left;
	line-height: 32px;
	font-size: 12px !important;
	font-family: sans-serif
}

.textholder {
	width: 60% !important;
	float: left;
	font-size: 12px !important;
	font-family: sans-serif
}

.valuationholder {
	width: 100%;
	float: left;
	height: 34px;
}

.adjustTop {
	margin-top: 10px;
}

.chang::placeholder {
	color: red;
}

.chang::-webkit-input-placeholder {
	color: #b2cde0
}

.savebtn {
	width: 10%;
	/*     background: #ff6600; */
	background-image: linear-gradient(to right, #ff6600, #000080);
	color: white;
	padding: 5px;
	text-align: center;
	border-radius: 5px;
	float: left;
	cursor:pointer;
}

#valuationform {
	margin-top: 50px;
}

#inspect1prv {
	float: left;
	background-image: linear-gradient(to right, #ff6600, #000080);
}

#inspect1nxt {
	margin-left: 10px;
	background-image: linear-gradient(to right, #ff6600, #000080);
}
#inspect2prv {
	float: left;
	background-image: linear-gradient(to right, #ff6600, #000080);
}

#inspect2nxt,
#mrtnxt,
#splnxt,
#docnxt {
	margin-left: 10px;
	background-image: linear-gradient(to right, #ff6600, #000080);
}
#schedulenxt {
	margin-left: 10px;
	background-image: linear-gradient(to right, #ff6600, #000080);
}

#submitprv {
	float: left;
	background-image: linear-gradient(to right, #ff6600, #000080);
}

#submitnxt {
	margin-left: 10px;
	background-image: linear-gradient(to right, #ff6600, #000080);
	padding: 7px;
	margin-top: 0px;
}