.theme-white .bootstrap-tagsinput .tag{
	background-color: forestgreen !important;
}
.bootstrap-tagsinput .tag{
	padding: 0px 2px !important;
}
.bootstrap-tagsinput{
	height:30px !important;
	width:60% !important;
	font-size: 11px;
}
.mainhead{
	font-size:13px;
}
.errfilter{
	text-align: center;
    padding: 100px;
	font-size: 22px;
	color: limegreen;
}
.valbtn {
	width: 4.8%;
    font-size: 11.5px;
    float: left;
    padding: 3px;
    margin-top: 0px;
    margin-right: 2px;
    background: #000080;
    cursor: pointer;
}
.selholder
  { 
   width: 20%;
   float: left;
   padding: 2px;
/*        position: relative; */
/*     top: -12px; */
/*     left: 4px; */
}
.seclabel{
	font-size: 12px;
    float: left;
    width: 40%;
    font-weight:700;
    color: #000080;
}
.sectext{
	font-size: 11px;
    font-family: sans-serif;
    float: left;
    font-weight:700;
    color: darkcyan;
}
.vrholder {
	width: 50%;
	float: left;
	height: 32px;
}

#valinstrdate, #insdate, #valdate {
	cursor: pointer !important;
}

.fa-calendar:before {
	color: #000080;
}

.fa-clock:before {
	color: #000080;
}

.fa-fire:before {
	color: #000080;
}

.form-control {
	background: #fff !important;
}

.rholder {
	width: 35%;
	float: left;
	line-height: 32px;
	font-size: 12px !important;
	font-family: sans-serif
}

.viholder {
	width: 33%;
	float: left;
	height: 34px;
}

.ilholder {
	width: 15%;
	float: left;
	line-height: 32px;
	font-size: 12px !important;
	font-family: sans-serif
}

.itholder {
	width: 33% !important;
	float: left;
	font-size: 12px !important;
	font-family: sans-serif
}

.labelholder {
	width: 20%;
	float: left;
	line-height: 32px;
	font-size: 12px !important;
	font-family: sans-serif
}

.textholder {
	width: 60% !important;
	float: left;
	font-size: 12px !important;
	font-family: sans-serif
}

.valuationholder {
	width: 100%;
	float: left;
	height: 34px;
}

.adjustTop {
	margin-top: 10px;
}

.chang::placeholder {
	color: red;
}

.chang::-webkit-input-placeholder {
	color: #b2cde0
}

.savebtn {
	width: 10%;
	/*     background: #ff6600; */
	background-image: linear-gradient(to right, #ff6600, #000080);
	color: white;
	padding: 5px;
	text-align: center;
	border-radius: 5px;
	float: left;
	cursor:pointer;
}

#valuationform {
	margin-top: 50px;
}
.avgholder{
	
	height:15px;
	clear:both;
}
.sectionTT{
	font-size:12px !important;
	margin-right:1% !important;
	width:9% !important;
	float:left;
	font-family:sans-serif;
	text-align:center;
/* 	height:3.5% !important; */
}
.sectionT{
	font-weight:600 !important;
	font-size:12px !important;
	margin-right:2% !important;
	width:9% !important;
	font-family:sans-serif;
}
#inspect1prv {
	float: left;
	background-image: linear-gradient(to right, #ff6600, #000080);
}

#inspect1nxt {
	margin-left: 10px;
	background-image: linear-gradient(to right, #ff6600, #000080);
}
#inspect2prv {
	float: left;
	background-image: linear-gradient(to right, #ff6600, #000080);
}
.pretty.p-svg .state .svg {
    top: -0.5px !important;
    font-size: 13px !important;
}
.coholder{
	    width: 100% !important;
    margin-top: 20px !important;
}
#inspect2nxt,
#extnxt,
#mrtnxt,
#splnxt,
#docnxt {
	margin-left: 10px;
	background-image: linear-gradient(to right, #ff6600, #000080);
}
#schedulenxt {
	margin-left: 10px;
	background-image: linear-gradient(to right, #ff6600, #000080);
}

#submitprv {
	float: left;
	background-image: linear-gradient(to right, #ff6600, #000080);
}

#submitnxt {
	margin-left: 10px;
	background-image: linear-gradient(to right, #ff6600, #000080);
	padding: 7px;
	margin-top: 0px;
}